/* **************** NAVIGATION BAR ************** */
.Header {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #264653;
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
}
.Home{
    border: 5px solid black;
    border-style: ridge;
    box-shadow: 2px 2px 2px 2px  rgb(15, 76, 87);
    padding: 6px;
    font-size: 18px;
    background-color: rgb(0, 0, 0);
}
.Home a{
    color: rgb(255, 255, 255);
}
.Home:hover, .Home>a:hover{
    background-color: rgba(217, 222, 225, 0.642);
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
    .Header {
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      width: 100%;
    }
}

a {
    color: white;
    text-decoration: none;
}
.Hover a:hover, i:hover {
    border: 10px;
    padding: 2px;
    background-color: aliceblue;
    color: rgb(137, 25, 141);
}

.Hover{
    padding: 13px;
}