/* **************** SIGNUP PAGE ************** */
.SignUp .FlexPage{
    display: flex;
}
.SignUp .SignUpImage {
    padding-left: 30%;
    padding-right: 5%;
    /* padding-top: 5%; */
    height: 350px;
    width: 400px;
}

/* **************** FORM ************** */
.SignUp .Flex{
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
}
.SignUp .Form {
    display: flex;
    justify-content: center;
    padding-left: 20%;
    /* margin: 5% 0; */
    width: 100%;
}
.SignUp .Form,input {
    font-size: 16px;
}
.SignUp .input {
    height: 20px;
    width: 300px;
    text-align: left;
    margin: 5px 0;
}
.SignUp .border {
    border: 1.5px solid black;
}
.SignUp label {
    text-align: left;
    padding-bottom: 3%;
}
.SignUp .Flex span{
    width: 320px;
}
.SignUp span {
    color: red;
    font-weight: 600;
    font-size: 16px;
}

/* ************ SUBMIT ********* */
.SignUp .submit {
    text-align: center;
    height: 30px;
    width: 180px;
    background: #1f555fe8;
    border-radius: 30px;
    color: white;
}
.SignUp .submit a {
    color: aliceblue;
}
.SignUp .button {
    text-align: center;
}
.SignUp .loginbutton a {
    color: rgb(5, 15, 71);
    text-decoration: underline;
}
.SignUp .loginbutton a:hover {
    color: red;
}