.Categories .Flex{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(252, 253, 255, 0.525);
    padding-top: 1%;
    font-size: 16px;
}
.Categories .Flex> div {
    background-color: #f1f1f1;
    width: 50%;
    margin: 5px;
    text-align: center;
    /* line-height: 75px; */
  }
  .Categories .Flex> div >img{
    height: 200px;
    width: 400px;
  }