/* **************** LOGIN PAGE ************** */
.Login .FlexPage{
    display: flex;
}
.Login .LoginImage{
    padding-left: 100px;
    padding-top: 50px;
    height: 450px;
    width: 500px;
}

/* **************** FORM ************** */
.Login .Flex{
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
}
.Login .Form {
    display: flex;
    justify-content: center;
    margin: 7% 0;
    width: 100%;
}
.Login .Form,input {
    font-size: 16px;
}
.Login .input {
    height: 20px;
    width: 500px;
    text-align: left;
    margin: 5px 0;
}
.Login .border {
    border: 1.5px solid black;
}
.Login label {
    text-align: left;
    padding-bottom: 3%;
}
.Login .Flex span{
    width: 320px;
}
.Login span {
    color: red;
    font-weight: 600;
    font-size: 16px;
}

/* ************ SUBMIT ********* */
.Login .submit {
    text-align: center;
    height: 30px;
    width: 180px;
    background: #1f555fe8;
    border-radius: 30px;
    color: white;
}
.Login .submit a {
    color: aliceblue;
}
.Login .button {
    text-align: center;
}
.Login .loginbutton a {
    color: rgb(5, 15, 71);
    text-decoration: underline;
}
.Login .loginbutton a:hover {
    color: red;
}
